
<!--
    Pantalla de formulario para cambio de contraseña
-->

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
<div class="box-login">
    <div class="login-content">
        <h1>¿Olvidaste tú contraseña?</h1>
        <h3>Ingresa tú nueva contraseña, por favor!!</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Enviar">
        </form>
    </div>
</div>
{% endblock content %}