
<!--
    Pantalla de ingreso de correo electronico
-->

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot your password?{% endblock title %}

{% block content %}
<div class="box-login">
    <div class="login-content">
        <h1>¿Olvidaste tú Contraseña?</h1>
        <p>Ingresa tú correo electronico</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="boton-login btn btn-success" type="submit" value="Enviar">
        </form>
    </div>
</div>
{% endblock content %}